<div class="container">
  <nav class="navbar navbar-expand navbar" style="background-color: #e3f2fd;">
    <a href="#" class="navbar-brand mx-1">NoteBook</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item" routerLink="notes" routerLinkActive="active">
        <a href="javascript:void(0)" class="nav-link">Notes</a>
      </li>
      <li class="nav-item" routerLink="add" routerLinkActive="active">
        <a href="javascript:void(0)" class="nav-link">Add a Note</a>
      </li>
    </div>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>